.flip {
  position: absolute;
}
.flip-content {
  width: 500px;
  height: 500px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-content:active {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}
.flip-front,
.flip-back {
  padding: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: rgba(255, 251, 251, 0.986);
}
.flip-back {
  transform: rotateY(180deg);
  border: 6px solid rgba(255, 251, 251, 0.986);
}
